# ==========================================
# REGLAS LINGUIST PARA UNITY
# ==========================================

# 1. Ignorar el código de paquetes y configuraciones del motor
# **/Library/** linguist-vendored

# **/Packages/** linguist-vendored
# **/ProjectSettings/** linguist-generated
# **/UserSettings/** linguist-generated
